body {
    font-family: 'Titillium Web', sans-serif;
}
.header, .footer {
    background-color: #008f02;
    height: 10vh;
    padding: 0px 15px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}
.footer {
    height: 5vh;
}
.main {
    height: 85vh;
    &-container {
        display: flex;
        justify-content: center;
        & Button {
            margin: 20px 0px;
        }
    }
}
.nav-menu {
    &__list {
        display: flex;
    }
    &__item {
        list-style: none;
        margin: 0px 10px;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        &:hover {
            color: black;
            text-decoration: none;
        }
    }
}
.reg-form {
    display: flex;
    flex-direction: column;
    & label {
        display: block;
    }
} 
.members-btn {
    &__block {
        margin: auto;
        flex-wrap: wrap;
    }
}
.table {
    & th, td {
        text-align: center;
        vertical-align: middle;
    }
}
.form-btn {
    margin: 10px 0px;
}
.login {
    &-form {
        max-width: 250px;
        max-height: 300px;
        padding: 25px;
        display: flex;
        flex-direction: column;
        border: 1px solid gray;
        border-radius: 5%;
        & input {
            border: none;
            border-bottom: 1px solid gray;
            margin-bottom: 5px;
            &:focus {
                outline: none;
            }
        }
        & img {
            margin-bottom: 20px;
        }
        & Button {
            margin-top: 20px;
        }
    
    }
    &-container {
        width: 100%;
        height: 85vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.form-block {
    display: flex;
    justify-content: space-between;
}